<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <% include include/head.ejs %>
</head>

<body>
  <!--头部-->
  <% include include/header.ejs %>

  <!--中部-->
  <div id="gb_content">

          <!--内容区-->
          <div id="gb_frame">

	          <!--地图-->
	          <% include content_page/index_earth.ejs %>

          </div>

      </div>
  </div>

  <h1><%= title %></h1>
  <p>Welcome to<%= title %></p>

  <!--底部-->
	<%include include/footer.ejs%>
</body>

</html>