<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <% include include/head.ejs %>
</head>

<body>
<div class="layui-layout layui-layout-admin">

	<!--头部-->
	<% include include/header.ejs %>

	<!--中部-->
	<div class="layui-side layui-bg-black">
		<div class="layui-side-scroll">
			<!-- 二级导航 -->
			<ul class="layui-nav layui-nav-tree" id="subnav"  lay-filter="test"></ul>
		</div>
	</div>

	<div class="layui-body">
		<!-- 内容主体区域 -->
		<div>内容主体区域</div>
	</div>


	<%include include/footer.ejs%>

</div>
<script>
  //JavaScript代码区域
  layui.use('element', function(){
    var element = layui.element;
  });
</script>
































  <!--中部-->
  <div id="gb_content">

          <!--内容区-->
          <div id="gb_frame">

	          <!--地图-->
	          <% include content_page/index_earth.ejs %>

          </div>

      </div>
  </div>

  <h1><%= title %></h1>
  <p>Welcome to<%= title %></p>

  <!--底部-->
	<%include include/footer.ejs%>
</body>

</html>