<header class="navbar navbar-gb" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
		<a class="navbar-brand" href="#"><img src="/images/logo_big.png" alt="" /></a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
		<div class="gb_header_title hidden-sm hidden-xs">应急广播系统管理平台</div>
		<ul class="nav navbar-nav" id="gb_header_nav">
			<li class="gb_header_address"><a href="#">四川大邑县</a></li>
			<li class="active"><a href="#">首页</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href=""><span class="hidden-sm hidden-xs">头像</span>欢迎您,<span>张小霖</span></a></li>
			<li><a href=""><span>退出</span></a></li>
		</ul>
	</div>
</header>







