<header class="navbar navbar-gb">
	<div class="navbar-header">
		<a class="navbar-brand" href="#">
			<img class="header_logo" src="/images/header_logo.png" alt="logo"/>
			<img class="header_logoText hidden-xs" src="/images/header_textlogo.png" alt="logo"/>
			<span class="header_address">四川大邑县</span>
		</a>
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".headerAndNavList" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	<div class="headerAndNavList navbar-collapse collapse">
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
					<span class="hidden-sm hidden-xs">头像</span>欢迎您,<span>张小霖</span><b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#">修改密码</a></li>
					<li><a href="#">个人资料</a></li>
					<li class="divider"></li>
					<li><a href="#">退出</a></li>
				</ul>
			</li>
		</ul>
	</div>
</header>







