<nav class="navbar-gb" id="nav" role="navigation">
	<div class="headerAndNavList navbar-collapse collapse">
		<ul class="nav navbar-nav" id="nav_list"></ul>
	</div>
</nav>

<script src="/javascripts/nav.js"></script>
<script>
	$(function(){
	  $.get("/nav",function(data){
      //生成导航树
	    $("#nav_list").nav(data);
		  //点击一级菜单
		  $("#nav_list>li>a").click(function(){
		    var clone = $(this).next("ul");
			  $("#gb_subnav").html(clone);
		  })
	  })
	})
</script>
