<!--地图-->
<div id="gb_index_earth"></div>
<script type="text/javascript">
	//配置百度地图
	var map = new BMap.Map("gb_index_earth");
	//map.disableDragging();          			//禁用地图拖拽
	map.enableDragging();          		    	//启用地图拖拽
	//map.disableScrollWheelZoom();  			    //禁用滚轮缩放大小
	map.enableScrollWheelZoom();  			    //启用滚轮缩放大小
	map.disableDoubleClickZoom();   			//禁用双击放大
	map.disableKeyboard();          			//禁用键盘操作 
	map.disablePinchToZoom();       			//禁用双指缩放操作
	
	//添加行政边框
	var bdary = new BMap.Boundary();
	bdary.get("四川省成都市大邑县", function(rs){
      	var pointArray = [];
		for (var i = 0; i < 25; i++) {
			var ply = new BMap.Polygon(rs.boundaries[i], {strokeWeight: 2, strokeColor: "#ff0000",fillColor:""}); //建立多边形覆盖物
			map.addOverlay(ply);                                                                                  //添加覆盖物
			pointArray = pointArray.concat(ply.getPath());
		}    
		map.setViewport(pointArray);                                                                              
	});
	
	//根据坐标显示定位按钮
	var dayixian = [[103.472191,30.62546],[103.527958,30.588161],[103.441146,30.657276],[103.58085,30.532434]];
	var pointArray = new Array();
	for(var i=0;i<dayixian.length;i++){
		
		var myIcon = new BMap.Icon("/images/voice.png", new BMap.Size(20,20));						// 设置图标路径
		var marker = new BMap.Marker(new BMap.Point(dayixian[i][0], dayixian[i][1]),{icon:myIcon}); // 创建点
		map.addOverlay(marker);//添加点
		pointArray[i] = new BMap.Point(dayixian[i][0], dayixian[i][1]);
		marker.addEventListener("click",attribute);
	}
	//让所有点在视野范围内
	map.setViewport(pointArray);
	//获取覆盖物位置
	function attribute(e){
		var p = e.target;
		alert("marker的位置是" + p.getPosition().lng + "," + p.getPosition().lat);   
//		html="";
		
	}		
	
	
</script>
